<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Minha Carteira</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Saldo Atual: R$ <span id="saldo">0.00</span></h1>
    
    <input type="number" id="valor" placeholder="Digite um valor">
    <button onclick="adicionarDinheiro()">Adicionar</button>

    <script src="/js/script.js"></script>
</body>
</html>